<mat-card>
  <mat-card-header>
    <mat-card-title>Iniciar una publicación</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="onAddPost()">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="¿Qué estás pensando?" [(ngModel)]="newPost" name="postContent"></textarea>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Publicar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
