.content-center {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;  /* esto asegura que todos los hijos de .content-center se alineen en la parte superior */
  padding-top: 20px;
}


/* app-post-create {
  position: sticky;
  top: 0;
  z-index: 1;
} */

