.rightbar {
  width: 250px;
  padding: 20px;
  border-left: 1px solid #ccc;
}

.feed, .courses {
  margin-bottom: 20px;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar, .rightbar {
  flex: 1 0 auto;
}
button {
  flex: auto;
  padding: 8px 65px; /* Ajusta el espacio alrededor del texto del botón */
  white-space: nowrap; /* Evita que el texto del botón se divida en varias líneas */
  overflow: hidden; /* Evita que el contenido se desborde del botón */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es demasiado largo para el botón */
}
